.container-tabela {
   border: solid grey;
   border-radius: 0 0 10px 10px;
   padding: 10px;
   margin-bottom: 50px;
}

.header-tabela {
   margin-top: 40px;
   border-radius: 10px 10px 0 0;
   padding: 20px;
   background-color: rgb(214, 214, 214);
   border: solid grey;
}

.container-title {
   display: flex;
   align-items: center;
   gap: 20px;
   padding-bottom: 10px;  
}

.form-pix {
   display: flex;
   align-items: center;
   gap: 30px;
}