.container-pix {
   width: 500px;
   margin-top: 200px;
   margin-left: auto;
   margin-right: auto;
   background-color: rgb(214, 214, 214);
   padding: 40px;
   border-radius: 10px;
}



.btn-voltar {
   margin-bottom: 20px;
}